#findspark
#apache-sedona
#clickhouse-connect
geopandas
joblib
scikit-learn
#pyspark
pyarrow
matplotlib
seaborn
polars
shapely
leafmap
numpy
pandas
leafmap
localtileserver[server]
rio-tiler
rasterio
ipyleaflet
rasterstats
opencv-python
phik
